<h1 class="text-flicker-in-glow">The Survey</h1>     

<mat-card>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step>      
        <ng-template matStepLabel>Solo Tests</ng-template>
        <br>
        First I'd like you to evaluate <strong>how well do these materials fit</strong> given the ambient light of their surroundings. <sub>(Do they look too bright? Or Too dark? Or do they fit well.)</sub>
        <br>
        <br>
        Please watch these videos (in no order) and fill out the ratings.
        <br>
        <br>
        
          <div class="grid-container">
            <h1 class="mat-h1">Solo Tests</h1>            
            <mat-accordion>

              <mat-expansion-panel *ngFor="let question of soloQuestions" [expanded]="stepSolo === question.id" (opened)="setStepSolo(question.id)" style="width: 95%;">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      #{{question.id + 1}} {{question.type}}                                      
                  </mat-panel-title>
                  <mat-icon color="primary" *ngIf="!question.answer==''" style="margin-right: 2%;">check</mat-icon>                    
                </mat-expansion-panel-header>   
                <img *ngIf="question.type == 'Image'" class="center" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <vg-player *ngIf="question.type == 'Video'">
                    <vg-overlay-play></vg-overlay-play>
                    <vg-buffering></vg-buffering>
                
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                    </vg-scrub-bar>
                
                    <vg-controls>
                        <vg-play-pause></vg-play-pause>
                        <vg-playback-button></vg-playback-button>
                
                        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                
                        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
                
                        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                
                        <vg-track-selector></vg-track-selector>
                        <vg-mute></vg-mute>
                        <vg-volume></vg-volume>
                
                        <vg-fullscreen></vg-fullscreen>
                    </vg-controls>
                    <video [vgMedia]="media" #media id="singleVideo" preload="auto">
                        <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
                    </video>
                </vg-player>
                <mat-action-row>                        
                  <span>
                    Too Dark |
                    <mat-slider [displayWith]="formatLabel" thumbLabel min="1" max="100" step="1" (input)='changeMatslider(question.id,$event)' [value]="question.answer"></mat-slider>
                    | Too Bright
                  </span>
                  <span class="spacer"></span>
                  <button (click)="saveAnswerSolo(question.id);" [disabled]="question.answer==''" mat-button>Next</button>
                </mat-action-row>                                        
                <br>                                      
              </mat-expansion-panel>     
              <br>              
             
            </mat-accordion>                           
          </div>      
        <div>
          <button (click)="submitSolo();" [disabled]="!soloCompleted" mat-button color="primary" matStepperNext>Submit Solo Tests</button>
        </div>      
    </mat-step>

    <mat-step>      
        <ng-template matStepLabel>Comparative Tests</ng-template>
        <br>
        Now we're going to have you <strong>compare between the different platforms.</strong>
        <br>
        <br>
        Please rate which one looked better, and by how much.
        <br>
        <br>        
        <div>
          <button mat-button color="warn" matStepperPrevious>Back</button>
          <button mat-button color="primary" matStepperNext>Submit Comparative Tests</button>
        </div>      
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Material Investigation</ng-template>
      <br>
      Next we want to focus on the materials. 
      <br>
      <br>
      Please watch these videos and rank which materials looked better for each video.
      <br>
      <br>
      <div>
          <button mat-button color="warn" matStepperPrevious>Back</button>
          <button mat-button color="primary" matStepperNext>Submit Material Investigation</button>
      </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Light Level Investigation</ng-template>
        <br>
        Finally, we want to <em>measure the extent of performance of each platform given varying degrees of <strong> light temparature and intensity.</strong></em>
        <br>
        <br>
        If that didn't make sense to you don't worry. <sub>(It didn't make sense to me either)</sub> Just watch the videos and rate which one looks better, and by how much.
        <br>
        <br>
        <div>
            <button mat-button color="warn" matStepperPrevious>Back</button>
            <button mat-button color="primary" matStepperNext>Submit Light Level Investigation</button>
        </div>
      </mat-step>
      <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          Thank you for doing this! You've undoubtedly helped advance the cause of science by hundreds, or even thousands, of <strong>minutes!</strong>
          <br>
          <br>
          If you're satisfied with your answers, then go ahead and press submit.
          <br>
          <br>
          In the case that you're not satisfied with your answers, then feel free to also press submit.
          <br>
          <br>
          If you feel that your answers won't progress the cause of science by enough minutes, you're always free to go back and edit them.
          <br>
          <br>
          <div>
            <button mat-button color="warn" matStepperPrevious>Back</button>
            <button mat-raised-button color="accent" (click)="stepper.reset()">Submit</button>
          </div>
        </mat-step>
  </mat-horizontal-stepper>
</mat-card>