<h1>Please fill out this form:</h1>
<h3>This will help us assess the results of this survey!</h3>
<mat-form-field>
  <input matInput (input)="onNameChange(nameInput.value)" #nameInput placeholder="Name">
  <mat-hint>Optional</mat-hint>  
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Personal Phones Used (OS)" [formControl]="phones" multiple>
    <mat-select-trigger>
      {{phones.value ? phones.value[0] : ''}}
      <span *ngIf="phones.value?.length > 1" class="example-additional-selection">
        (+{{phones.value.length - 1}} {{phones.value?.length === 2 ? 'other' : 'others'}})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let phone of phonesList" [value]="phone">{{phone}}</mat-option>
  </mat-select>
</mat-form-field>
<br>
<br>
Age Group: 
<br>
<br>
<mat-radio-group [(ngModel)]="ageGroup">
  <mat-radio-button [value]="1">12-17</mat-radio-button>
  <mat-radio-button [value]="2">18-24</mat-radio-button>
  <mat-radio-button [value]="3">25-34</mat-radio-button>
  <mat-radio-button [value]="4">35-49</mat-radio-button>
  <mat-radio-button [value]="5">50-64</mat-radio-button>
  <mat-radio-button [value]="6">65+</mat-radio-button>
</mat-radio-group>
<br>
<br>
<mat-form-field>
  <mat-select placeholder="Past Experience with AR?" [(value)]="expWithAr">    
    <mat-option value="true">Yes</mat-option>
    <mat-option value="false">No</mat-option>    
  </mat-select>
</mat-form-field>
<mat-form-field *ngIf="expWithAr == 'true'">
  <mat-select placeholder="Hardware Used" [formControl]="arWare" multiple>
    <mat-select-trigger>
      {{arWare.value ? arWare.value[0] : ''}}
      <span *ngIf="arWare.value?.length > 1" class="example-additional-selection">
        (+{{arWare.value.length - 1}} {{arWare.value?.length === 2 ? 'other' : 'others'}})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let arWare of arWareList" [value]="arWare">{{arWare}}</mat-option>
  </mat-select>
</mat-form-field>
<br>
<mat-form-field *ngIf="expWithAr == 'true'" class="example-full-width">
  <textarea matInput (input)="onTextChange(arExpInput.value)" #arExpInput placeholder="Tell us about it!"></textarea>
  <mat-hint>Optional, but we'd love to hear about how you've expirenced AR before.</mat-hint>
</mat-form-field>
<button class="center" mat-button color="primary" (click)="submitBackground();" routerLink="/third-page" style="height: 200px; font-size: 72pt">To the Survey!</button>