<div class="grid-container">
  <h1 class="mat-h1">Analytics</h1>

  <mat-grid-list cols="4" rowHeight="275px">
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Phone Types
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div *ngIf="showPhoneChart">
            <canvas baseChart
                        [data]="phoneChartData"
                        [labels]="phoneChartLabels"
                        [chartType]="phoneChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile colspan="2" rowspan="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Averages Solo Tests
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div *ngIf="showAveragesChart" style="display: block">
            <canvas baseChart
                    [datasets]="averagesChartData"
                    [labels]="averagesChartLabels"
                    [chartType]="averagesChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
          <br>
          <mat-hint>50 is the best score. 0 is too Dark, 100 is too Bright.</mat-hint>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            AR Experience
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
      
                <div *ngIf="showARexpChart" style="display: block">
                    <canvas baseChart
                            [data]="ARexpChartData"
                            [labels]="ARexpChartLabels"
                            [chartType]="ARexpChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                  </div>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Age Groups
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <div *ngIf="showAgeChart" style="display: block">
                <canvas baseChart
                        [data]="ageChartData"
                        [labels]="ageChartLabels"
                        [chartType]="ageChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
              </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            AR Hardware Used
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
              <div *ngIf="showARhwChart">
                  <canvas baseChart
                              [data]="ARhwChartData"
                              [labels]="ARhwChartLabels"
                              [chartType]="ARhwChartType"
                              (chartHover)="chartHovered($event)"
                              (chartClick)="chartClicked($event)"></canvas>
                </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="2">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Material Investigation
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
              <div *ngIf="showMatChart" style="display: block">
                  <canvas baseChart
                          [datasets]="matChartData"
                          [labels]="matChartLabels"
                          [options]="matChartOptions"
                          [legend]="matChartLegend"
                          [chartType]="matChartType"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>
                </div>
  
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" rowspan="2">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Comparative Scores (General)
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div *ngIf="showCompChart" style="display: block">
              <canvas baseChart
                      [data]="compAreaChartData"
                      [labels]="compAreaChartLabels"
                      [legend]="compAreaLegend"
                      [chartType]="compAreaChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="2">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Comparative Scores (Light Level 0)
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div *ngIf="showCompChart" style="display: block">
              <canvas baseChart
                      [data]="comp0AreaChartData"
                      [labels]="compAreaChartLabels"
                      [legend]="compAreaLegend"
                      [chartType]="compAreaChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
            </div>
            <br>
            <br>
            <mat-hint><strong>Elaboration about points system</strong>
              <br>
              A point was granted if one image was selected over another, if both were deemed equal then they were both granted half a point. The number of points was then divided by the number of possible points to get a percentage of user acceptance.
            <br>
            <br>
            In short, this is a measure of how much each farmework was picked, when offered. Or how much the users favored the framework.</mat-hint>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Comparative Scores (Light Level 1)
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div *ngIf="showCompChart" style="display: block">
              <canvas baseChart
                      [data]="comp1AreaChartData"
                      [labels]="compAreaChartLabels"
                      [legend]="compAreaLegend"
                      [chartType]="compAreaChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Comparative Scores (Light Level 2)
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div *ngIf="showCompChart" style="display: block">
              <canvas baseChart
                      [data]="comp2AreaChartData"
                      [labels]="compAreaChartLabels"
                      [legend]="compAreaLegend"
                      [chartType]="compAreaChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Comparative Scores (Light Level 3)
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div *ngIf="showCompChart" style="display: block">
              <canvas baseChart
                      [data]="comp3AreaChartData"
                      [labels]="compAreaChartLabels"
                      [legend]="compAreaLegend"
                      [chartType]="compAreaChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Comparative Scores (Varying Level 1)
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div *ngIf="showCompChart" style="display: block">
              <canvas baseChart
                      [data]="compv1AreaChartData"
                      [labels]="compAreaChartLabels"
                      [legend]="compAreaLegend"
                      [chartType]="compAreaChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Comparative Scores (Varying Level 2)
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div *ngIf="showCompChart" style="display: block">
              <canvas baseChart
                      [data]="compv2AreaChartData"
                      [labels]="compAreaChartLabels"
                      [legend]="compAreaLegend"
                      [chartType]="compAreaChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="1">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                Comparative Scores (Varying Level 3)
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Expand</button>
                  <button mat-menu-item>Remove</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <div *ngIf="showCompChart" style="display: block">
                <canvas baseChart
                        [data]="compv3AreaChartData"
                        [labels]="compAreaChartLabels"
                        [legend]="compAreaLegend"
                        [chartType]="compAreaChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>



      <mat-grid-tile colspan="2" rowspan="2">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                Light Level 0 Comparison
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Expand</button>
                  <button mat-menu-item>Remove</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <div *ngIf="level0">
     
                <canvas baseChart
                            [datasets]="level0ChartData"
                            [chartType]="level0ChartType"
                            [labels]="level0ChartLabels"
                            [legend]="level0ChartLegend"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
              </div>
              
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="2">
            <mat-card class="dashboard-card">
              <mat-card-header>
                <mat-card-title>
                  Light Level 1 Comparison
                  <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item>Expand</button>
                    <button mat-menu-item>Remove</button>
                  </mat-menu>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="dashboard-card-content">
              <div *ngIf="level1">
  
                  <canvas baseChart
                              [datasets]="level1ChartData"
                              [chartType]="level1ChartType"
                              [labels]="level1ChartLabels"
                              [legend]="level1ChartLegend"
                              (chartHover)="chartHovered($event)"
                              (chartClick)="chartClicked($event)"></canvas>
                </div>
                
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>

          <mat-grid-tile colspan="2" rowspan="2">
              <mat-card class="dashboard-card">
                <mat-card-header>
                  <mat-card-title>
                      Light Level 2 Comparison
                    <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before">
                      <button mat-menu-item>Expand</button>
                      <button mat-menu-item>Remove</button>
                    </mat-menu>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <div *ngIf="level2">
     
                        <canvas baseChart
                                    [datasets]="level2ChartData"
                                    [chartType]="level2ChartType"
                                    [labels]="level2ChartLabels"
                                    [legend]="level2ChartLegend"
                                    (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)"></canvas>
                      </div>
                  
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>

            <mat-grid-tile colspan="2" rowspan="2">
                <mat-card class="dashboard-card">
                  <mat-card-header>
                    <mat-card-title>
                        Light Level 3 Comparison
                      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu" xPosition="before">
                        <button mat-menu-item>Expand</button>
                        <button mat-menu-item>Remove</button>
                      </mat-menu>
                    </mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="dashboard-card-content">
                      <div *ngIf="level3">
     
                          <canvas baseChart
                                      [datasets]="level3ChartData"
                                      [chartType]="level3ChartType"
                                      [labels]="level3ChartLabels"
                                      [legend]="level3ChartLegend"
                                      (chartHover)="chartHovered($event)"
                                      (chartClick)="chartClicked($event)"></canvas>
                        </div>
                    
                  </mat-card-content>
                </mat-card>
              </mat-grid-tile>

              <mat-grid-tile colspan="1" rowspan="1">
                  <mat-card class="dashboard-card">
                    <mat-card-header>
                      <mat-card-title>
                        Varying 1 Comparison
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                          <button mat-menu-item>Expand</button>
                          <button mat-menu-item>Remove</button>
                        </mat-menu>
                      </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <div *ngIf="vary1">
     
                            <canvas baseChart
                                        [datasets]="vary1ChartData"
                                        [chartType]="vary1ChartType"
                                        [labels]="vary1ChartLabels"
                                        [legend]="vary1ChartLegend"
                                        (chartHover)="chartHovered($event)"
                                        (chartClick)="chartClicked($event)"></canvas>
                          </div>
                      
                    </mat-card-content>
                  </mat-card>
                </mat-grid-tile>

                <mat-grid-tile colspan="2" rowspan="2">
                    <mat-card class="dashboard-card">
                      <mat-card-header>
                        <mat-card-title>
                            Varying 2 Comparison
                          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Expand</button>
                            <button mat-menu-item>Remove</button>
                          </mat-menu>
                        </mat-card-title>
                      </mat-card-header>
                      <mat-card-content class="dashboard-card-content">
                          <div *ngIf="vary2">
    
                            <canvas baseChart
                                        [datasets]="vary2ChartData"
                                        [chartType]="vary2ChartType"
                                        [labels]="vary2ChartLabels"
                                        [legend]="vary2ChartLegend"
                                        (chartHover)="chartHovered($event)"
                                        (chartClick)="chartClicked($event)"></canvas>
                          </div>
                        
                      </mat-card-content>
                    </mat-card>
                  </mat-grid-tile>

                  <mat-grid-tile colspan="1" rowspan="1">
                      <mat-card class="dashboard-card">
                        <mat-card-header>
                          <mat-card-title>
                              Varying 3 Comparison
                            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before">
                              <button mat-menu-item>Expand</button>
                              <button mat-menu-item>Remove</button>
                            </mat-menu>
                          </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="dashboard-card-content">
                            <div *ngIf="vary3">
    
                                <canvas baseChart
                                            [datasets]="vary3ChartData"
                                            [chartType]="vary3ChartType"
                                            [labels]="vary3ChartLabels"
                                            [legend]="vary3ChartLegend"
                                            (chartHover)="chartHovered($event)"
                                            (chartClick)="chartClicked($event)"></canvas>
                              </div>
                          
                        </mat-card-content>
                      </mat-card>
                    </mat-grid-tile>

  </mat-grid-list>



</div>
